@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@400;700&display=swap");

:root {
  --primary-color: #E07A5F;
  --secondary-color: #E07A5F;
  --accent-color: #F1E3D3;
  --background-color: #690B22;
  --text-color: #1B4D3E;
  --light-gray: #F1E3D3;
  --title-color: black; /* Dark green for titles */
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Roboto Slab", serif;
  background-color: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--title-color);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

