
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --primary-color: white;
  --secondary-color: white;
  --accent-color: white ;
  --background-color: rgb(255, 255, 252);
  --text-color: black;
  --light-gray: white;
  --title-color: black; /* Dark green for titles */

  --colour-gradient:linear-gradient(152deg, rgba(231,27,54,1) 0%, rgba(170,113,207,1) 35%, rgba(233,131,2,0.991275733926383) 81%);
}

html,
body {
  padding: 0px;
  margin: 0px;
  font-family: "Poppins", serif;
  background: var(--background-color);
  color: var(--text-color);
  line-height: 1.6;
  scroll-behavior: smooth;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 700;
  color: var(--title-color);
}

#__next {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

