.container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
  }
  
  .header {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    background: linear-gradient(to right, var(--primary-color), var(--secondary-color));
  }
  
  .name {
    font-size: 2rem;
    color: white;
    text-transform: uppercase;
    letter-spacing: 2px;
    transition: transform 0.3s ease;
    font-family: "Roboto Slab", serif;
  }
  
  .name:hover {
    transform: scale(1.05);
  }