.about {
    background: var(--colour-gradient);
    border-radius: 10px;
    width: 100%;
    padding: 30px;
    margin-top: 0px;
    margin-bottom: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Inter", serif;
    font-weight: 400;
    color: white;
    display: flex;
    flex-direction: column;
    box-sizing: border-box
  }
  
  .about h2 {
    color: white;
    margin-bottom: 2rem;
    font-size: 50;
  }
  
  .imageContainer {
    margin: 0 auto 2rem;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .profileImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 20;
    font-weight:500;
    line-height: 1.8;
  }
  