.container {
    display: flex;
    background-color: var(--light-gray);
    border-radius: 20px;
    padding: 30px;
    margin: 90px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-family: "Inter", serif;
}

.TechStack {
    display: flex;
    flex-direction: column;
    font-size:xx-large;
    margin-bottom: 10px;
    flex: 1;
}

.SoftSkills {
    display: flex;
    flex-direction: column;
    font-size:xx-large;
    margin-bottom: 5px;
    flex: 1;
}
.stackItem {
    margin-top: 5px;
    display: inline-flex; /* Make the element only as wide as its content */
    justify-content: center; /* Center the text horizontally */
    align-items: center; /* Center the text vertically */
    padding: 0.5rem 1rem; /* Add some padding around the text */
    font-size:large;
    border-radius: 20px; /* Rounded corners */
    transition: all 0.3s ease; /* Smooth transition for hover effect */
}

.stackItem:hover {
 /* background-color: #1B4D3E;
 color: #F1E3D3;
 border-radius: 20px;
 width: 80%;
 display: flex;
 justify-content: center; */
 background: var(--colour-gradient); /* Green background on hover */
    color: white; /* Change text color */
    font-weight: 300;
    width: auto; /* Ensure width adjusts based on content */
    transform: scale(1.05); /* Slightly increase size on hover for effect */
}